.loadMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:#446aa2; 
    border-radius: 4px;
    padding: 8px 16px;
    border-bottom: 4px solid rgb(129, 158, 194);
    font-weight: 700;
    color: white;
    line-height: 26px;
    outline: 0;
    
    margin: 30px auto;
    font-size: 16px;
    border: 0;
}